version: '3.9'
services:
  postgres-db:
    image: postgres:14.5-alpine
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: Aa123456
      POSTGRES_USER: template_db_user
      POSTGRES_DB: template_db
    ports:
      - 5433:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
  pgadmin-compose:
    image: dpage/pgadmin4:6.13
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: 'admin@template.com'
      PGADMIN_DEFAULT_PASSWORD: 'Aa123456!'
    ports:
      - '4000:80'
    depends_on:
      - postgres-db
    volumes:
      - pgadmin-data:/var/lib/pgadmin
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: template-api
    depends_on:
      - postgres-db
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://template_db_user:Aa123456@postgres-db:5432/template_db?schema=public
    volumes:
      - ./:/opt/app
      - /opt/app/node_modules
    ports:
      - '3000:3000'
    command: npm run start:dev:migrate
volumes:
  postgres-data:
  pgadmin-data:
