@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Assistant', sans-serif;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

.MuiDrawer-root > .MuiPaper-root {
  height: calc(50% - 56px);
  max-width: 750px;
  margin: auto;
  overflow: visible;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: textfield;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}
